{% extends "base.html" %}

{% block content %}
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <h1 style="transform: rotate(-5deg); background-color: orange; color: white; border-radius: 10px; padding: 10px;" class="my-4"><strong>404 - I can't find the shit you are looking for.</strong></h1>
    <p>So I looked like everywhere, and I am, like, all out of ideas. </p>
    <img src="{{ url_for('static', filename='img/404.webp') }}" alt="Gandalf" style="display: block; margin: 0 auto; border: 10px solid white; width:400px;height:100%;">
  </div>
{% endblock %}
