{% extends "base.html" %}

{% block content %}
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <h1 style="transform: rotate(-5deg); background-color: red; color: white; border-radius: 10px; padding: 10px;" class="my-4"><strong>500 - Shit's fucked up.</strong></h1>
    <p>Now something gone and broke this shit. You got that 500 error.</p>
    <img src="{{ url_for('static', filename='img/500.webp') }}" alt="Gandalf" style="display: block; margin: 0 auto; border: 10px solid white; width:400px;height:100%;">
  </div>
{% endblock %}
