{% extends "base.html" %}

{% block content %}
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <h1 style="transform: rotate(-5deg); background-color: red; color: white; border-radius: 10px; padding: 10px;" class="my-4"><strong>500 - This shit is fucked up.</strong></h1>
    <p>Well, this is awkward. It looks like something has gone terribly, terribly fucking wrong with our website, and now we're stuck here staring at each other through the computer screen like two strangers waiting for the elevator that never arrives. We apologize for the inconvenience and assure you that our team of highly trained lobsters are working tirelessly to fix whatever the fuck broke. In the meantime, there might be some other pages you will enjoy while we fix this shit. We hope it brings a little bit of joy to an otherwise frustrating situation.</p>
    <img src="{{ url_for('static', filename='img/500.webp') }}" alt="Gandalf" style="display: block; margin: 0 auto; border: 10px solid white; width:400px;height:100%;">
  </div>
{% endblock %}
