{% extends 'base.html' %}

{% block content %}
<style>
    .admin-nav-link.btn {
        color: #333;
        border-color: #bbb;
        background-color: #eee;
        margin-bottom: 1rem;
    }

    .admin-nav-link.btn.active {
        color: #000000;
        background-color: #28df40;
        border-color: #d3e910;
    }

    .sidebar {
        background-color: #d1e8e2;
    }
</style>
<div class="container-fluid sidebar">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse text-dark mb-2">
            <div class="sidebar-sticky pt-3 sidebar">
                <ul class="nav flex-column nav-tabs">
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block active" data-toggle="tab"
                            href="#chronicles">
                            <i class="fa fa-book"></i> Chronicles
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#artwork">
                            <i class="fa fa-paint-brush"></i> Artwork
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#categories">
                            <i class="fa fa-folder"></i> Categories
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content area -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="tab-content">
                <!-- Chronicles -->
                <div class="tab-pane fade show active" id="chronicles">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Chronicles</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Author</th>
                                            <th>Posted</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for chronicle in chronicles %}
                                        <tr>
                                            <td>{{ chronicle.title }}</td>
                                            <td>{{ chronicle.category_name }}</td>
                                            <td>{{ chronicle.author }}</td>
                                            <td>{{ chronicle.date_posted }}</td>
                                            <td>
                                                <a href="{{ url_for('edit_chronicle', id=chronicle['_id']) }}">Edit</a>
                                            </td>
                                            <td>
                                                <form
                                                    action="{{ url_for('delete_chronicle', chronicle_id=chronicle['_id']) }}"
                                                    method="post" id="{{ chronicle.id }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for chronicles here -->
                            </div>
                            <a href="{{ url_for('create_chronicle') }}" class="btn btn-primary">New Chronicle</a>
                        </div>
                    </div>
                </div>

                <!-- Artwork -->
                <div class="tab-pane fade" id="artwork">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3>Artwork</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Posted</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for art in artwork %}
                                        <tr>
                                            <td>{{ art.title }}</td>
                                            <td>{{ art.text }}</td>
                                            <td>{{ art.date_posted }}</td>
                                            <td>
                                                <form action="{{ url_for('delete_artwork', artwork_id=art['_id']) }}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-link text-dark" title="Delete">
                                                        Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for artwork here -->
                            </div>
                            <a href="{{ url_for('create_artwork') }}" class="btn btn-primary">New Artwork</a>
                        </div>
                    </div>
                </div>

                <!-- Categories -->
                <div class="tab-pane fade" id="categories">
                    <div class="card">
                        <div class="card-header">
                            <h3>Categories</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                        <tr>
                                            <td>{{ category.name }}</td>
                                            <td>{{ category.desc }}</td>
                                            <td><a href="#">Edit</a></td>
                                            <td>
                                                <form
                                                    action="{{ url_for('delete_category', category_id=category['_id']) }}"
                                                    method="post" id="{{ category.id }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for categories here -->
                            </div>
                            <a href="{{ url_for('create_category') }}" class="btn btn-primary">New Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}