{% extends 'base.html' %}

{% block content %}
<style>
    /* Admin nav button style */
    .admin-nav-link.btn {
        color: #333;
        background-color: #fff;
        border-color: #bbb;
        margin-bottom: 1rem;
        width: 100%;
        text-align: left;
    }

    .admin-nav-link.btn:hover,
    .admin-nav-link.btn:focus {
        color: #333;
        background-color: #f2f2f2;
        border-color: #bbb;
    }

    .admin-nav-link.btn.active {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
<div class="container-fluid sidebar">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse text-dark mb-2">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column nav-tabs">
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block active" data-toggle="tab"
                            href="#chronicles">
                            <i class="fa fa-book"></i> Chronicles
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#artwork">
                            <i class="fa fa-paint-brush"></i> Artwork
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#categories">
                            <i class="fa fa-folder"></i> Categories
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#quotes">
                            <i class="fa fa-square-quote"></i> Quotes
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#news">
                            <i class="fa fa-square-rss"></i> News
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="admin-nav-link btn btn-light btn-block" data-toggle="tab" href="#users">
                            <i class="fa fa-user"></i> Users
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content area -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="tab-content">
                <!-- Chronicles -->
                <div class="tab-pane fade show active" id="chronicles">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Chronicles</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Author</th>
                                            <th>Posted</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for chronicle in chronicles %}
                                        <tr>
                                            <td>{{ chronicle.title }}</td>
                                            <td>{{ chronicle.category_name }}</td>
                                            <td>{{ chronicle.author }}</td>
                                            <td>{{ chronicle.date_posted }}</td>
                                            <td>
                                                <a href="{{ url_for('edit_chronicle', id=chronicle['_id']) }}">Edit</a>
                                            </td>
                                            <td>
                                                <form
                                                    action="{{ url_for('delete_chronicle', chronicle_id=chronicle['_id']) }}"
                                                    method="post" id="{{ chronicle.id }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for chronicles here -->
                            </div>
                            <a href="{{ url_for('create_chronicle') }}" class="btn btn-primary">New Chronicle</a>
                        </div>
                    </div>
                </div>

                <!-- Artwork -->
                <div class="tab-pane fade" id="artwork">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3>Artwork</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Posted</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for art in artwork %}
                                        <tr>
                                            <td>{{ art.title }}</td>
                                            <td>{{ art.text }}</td>
                                            <td>{{ art.date_posted }}</td>
                                            <td>
                                                <form action="{{ url_for('delete_artwork', artwork_id=art['_id']) }}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-link text-dark" title="Delete">
                                                        Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for artwork here -->
                            </div>
                            <a href="{{ url_for('create_artwork') }}" class="btn btn-primary">New Artwork</a>
                        </div>
                    </div>
                </div>

                <!-- Categories -->
                <div class="tab-pane fade" id="categories">
                    <div class="card">
                        <div class="card-header">
                            <h3>Categories</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                        <tr>
                                            <td>{{ category.name }}</td>
                                            <td>{{ category.desc }}</td>
                                            <td><a href="#">Edit</a></td>
                                            <td>
                                                <form
                                                    action="{{ url_for('delete_category', category_id=category['_id']) }}"
                                                    method="post" id="{{ category.id }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for categories here -->
                            </div>
                            <a href="{{ url_for('create_category') }}" class="btn btn-primary">New Category</a>
                        </div>
                    </div>
                </div>

                <!-- Quotes -->
                <div class="tab-pane fade" id="quotes">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Quotes</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Author</th>
                                            <th>Quote</th>
                                            <th>Source</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for quote in quotes %}
                                        <tr>
                                            <td>{{ quote.author }}</td>
                                            <td>{{ quote.quote }}</td>
                                            <td>{{ quote.source }}</td>
                                            <td>
                                                <form action="#" method="post" id="#">
                                                    <input type="hidden" name="_method" value="EDIT">
                                                    <button type="submit" class="btn btn-link">Edit</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="#" method="post" id="#">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for chronicles here -->
                            </div>
                            <a href="#" class="btn btn-primary">New Quote</a>
                        </div>
                    </div>
                </div>

                <!-- News -->
                <div class="tab-pane fade" id="news">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>News</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Lead</th> <!-- Description -->
                                            <th>Source</th>
                                            <th>Image</th> <!-- image_url -->
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for article in news %}
                                        <tr>
                                            <td>{{ article.title }}</td>
                                            <td>{{ article.lead }}</td>
                                            <td>{{ article.source }}</td>
                                            <td><img src="{{ article.image_url }}" class="img-thumbnail-sm"></td>
                                            <td>
                                                <form action="#" method="post" id="#">
                                                    <input type="hidden" name="_method" value="EDIT">
                                                    <button type="submit" class="btn btn-link">Edit</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="#" method="post" id="#">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for chronicles here -->
                            </div>
                        </div>
                    </div>
                </div>

                        <!-- Users -->
                <div class="tab-pane fade" id="users">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Users</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Nickname</th>
                                            <th>Picture</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.nickname }}</td>
                                            <td><img src="{{ user.picture }}" class="img-thumbnail-sm"></td>
                                            <td>
                                                <form action="#" method="post" id="#">
                                                    <input type="hidden" name="_method" value="EDIT">
                                                    <button type="submit" class="btn btn-link">Edit</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="#" method="post" id="#">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-link">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- Add pagination for chronicles here -->
                            </div>
                        </div>

                    </div>
                </div>
        </main>
    </div>
</div>
<script>

    $(function () {
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
            $('.tab-pane').not($(this).attr('href')).removeClass('show');
        });
    });

</script>
{% endblock %}