{% extends "base.html" %}

{% block content %}
<style>
    .story-image {
        max-height: 60vh;
        object-fit: cover;
        width: 100%;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 10px solid white;
        cursor: pointer;
    }

    .artwork {
        display: flex;
        align-items: center;
    }

    .artwork img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        margin-right: 1rem;
        border: solid 8px #FFF;
    }

    /* Custom comment styling */
    .comment-section {
        margin-top: 2rem;
    }

    .comment {
        display: flex;
        margin-bottom: 1rem;
    }

    .comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }

    .comment-content {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 1rem;
        position: relative;
    }

    .comment-author {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .comment-date {
        font-size: 0.8rem;
        color: #6c757d;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="mb-3 text-center">{{ artwork.title }}</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="mb-2 text-muted d-inline-block">Posted on | {{
                                artwork.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="mb-2 d-inline-block badge badge-secondary"><span id="likes-count">{{ like_count }}
                                    likes</span></p>
                        </div>
                        <div class="col-sm-3 text-right">
                            <p class="mb-2 d-inline-block"><span class="badge badge-success">{{ artwork.page_views }}
                                    page views</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <img src="{{ url_for('static', filename=artwork.image[8:]) }}" alt="Story Image" class="story-image"
                data-toggle="modal" data-target="#imageModal">
            <hr>

            <div class="d-flex flex-wrap align-items-center">
                <a href="https://twitter.com/intent/tweet?url={{ url_for('art_detail', artwork_id=artwork['_id'], _external=True) }}&text={{ artwork.title }}"
                    class="btn btn-info btn-sm mr-1 mb-1 mt-1" style="background-color: #1da1f2;" target="_blank"><i
                        class="fa fa-twitter"></i> Post to Twitter</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('art_detail', artwork_id=artwork['_id'], _external=True) }}"
                    class="btn btn-primary btn-sm mr-1 mb-1" style="background-color: #4267b2;" target="_blank"><i
                        class="fa fa-facebook"></i> Post to Facebook</a>
                {% if current_user.is_authenticated %}
                <div id="like-button-container" class="d-flex align-items-center mr-2">
                    {% if liked %}
                    <p id="thank-you-message" class="text-muted mb-0 mt-1" style="font-size: small;">
                        Thank you for liking this content.</p>
                    {% else %}
                    <form id="like-form" action="{{ url_for('like_artwork', artwork_id=artwork['_id']) }}" method="post"
                        class="d-inline-block">
                        {{ form.csrf_token }}
                        <button id="like-button" class="btn btn-outline-secondary btn-sm mr-2" type="submit"
                            data-artwork-id="{{ artwork['_id'] }}"><i class="fa fa-thumbs-up"></i> Like</button>
                    </form>
                    <span class="badge badge-primary badge-pill" style="background-color: #007bff;" id="likes-count">{{
                        like_count }}</span>
                    {% endif %}
                    <script>
                        const csrfToken = '{{ form.csrf_token._value() }}';
                    </script>
                </div>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-sign-in-alt"></i>
                    Log in to like</a>
                {% endif %}
            </div>
            <!-- Comment Section -->
            <div class="comment-section">
                <h4>Comments</h4>
                {% for comment in comments %}
                <div class="comment">
                    {% if comment.avatar %}
                    <img src="{{ comment.avatar }}" alt="User Avatar" class="comment-avatar">
                    {% endif %}
                    <div class="comment-content">
                        <p class="comment-author">{{ comment.author }}</p>
                        <p>{{ comment.text }}</p>
                        <p class="comment-date">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    </div>
                </div>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('art_detail', artwork_id=artwork['_id']) }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="{{ form.text.id }}">Leave a comment:</label>
                        {{ form.text(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
                {% else %}
                <p><a href="{{ url_for('login')}}">Login</a> to post a comment</p>
                {% endif %}
            </div>
            <!-- End Comment Section -->

        </div>
        <div class="col-lg-4">
            <div class="card p-3 mb-3">
                <h5 class="mb-3">Advertisement</h5>
                <p>Here's some space for an advertisement.</p>
            </div>
            <div class="card p-3">
                <h5 class="mb-3">Related Artwork</h5>
                <ul class="list-group">
                    {% for related in related_art %}
                    <li class="list-group-item">
                        <div class="artwork">
                            <img src="{{ url_for('static', filename=related.image[8:]) }}" alt="{{ related.title }}">
                            <a href="{{ url_for('art_detail', artwork_id=related['_id']) }}">
                                <h6>{{ related.title }}</h6>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{ url_for('static', filename=artwork.image[8:]) }}" alt="Full size image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript for liking the artwork -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const likeButton = document.getElementById("like-button");
        if (likeButton) {
            likeButton.addEventListener("click", function (event) {
                event.preventDefault();
                const artworkId = this.dataset.artworkId;
                const csrfTokenInput = document.querySelector("#like-form input[name=_csrf_token]");
                if (!csrfTokenInput) {
                    console.error("CSRF token not found");
                    return;
                }
                const csrfToken = csrfTokenInput.value;

                fetch(`/art_detail/${artworkId}/like`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": csrfToken
                    },
                    body: `_csrf_token=${encodeURIComponent(csrfToken)}`
                })
                    .then(function (response) {
                        if (response.ok) {
                            // Update the like count and hide the like button
                            const likesCountElement = document.getElementById("likes-count");
                            const likesCount = parseInt(likesCountElement.innerText) + 1;
                            likesCountElement.innerText = likesCount;
                            const likeButtonContainer = document.getElementById("like-button");
                            likeButtonContainer.parentNode.removeChild(likeButtonContainer);

                        } else {
                            console.error("Failed to like the artwork");
                        }
                    });
            });
        }
    });
</script>
{% endblock %}