{% extends "base.html" %}

{% block content %}
<style>
    .story-image {
        max-height: 60vh;
        object-fit: cover;
        width: 100%;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 10px solid white;
        cursor: pointer;
    }

    .artwork {
        display: flex;
        align-items: center;
    }

    .artwork img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        margin-right: 1rem;
        border: solid 8px #FFF;
    }

    /* Custom comment styling */
    .comment-section {
        margin-top: 2rem;
    }

    .comment {
        display: flex;
        margin-bottom: 1rem;
    }

    .comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }

    .comment-content {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 1rem;
        position: relative;
    }

    .comment-author {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .comment-date {
        font-size: 0.8rem;
        color: #6c757d;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="mb-3 text-center">{{ artwork.title }}</h1>
                    <div class="row">
                        <div class="col-sm-6">
                          <p class="mb-2 text-muted d-inline-block">Posted on | {{ artwork.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
                        </div>
                        <div class="col-sm-3">
                          <p class="mb-2 d-inline-block badge badge-secondary"><span id="likes-count">{{ like_count }} likes</span></p>
                        </div>
                        <div class="col-sm-3 text-right">
                          <p class="mb-2 d-inline-block"><span class="badge badge-success">{{ artwork.page_views }} page views</span></p>
                        </div>
                      </div>                      
                </div>
            </div>

            <img src="{{ url_for('static', filename=artwork.image[8:]) }}" alt="Story Image" class="story-image" data-toggle="modal"
                data-target="#imageModal">
            <hr>

            <div class="card mb-4 text-center align-items-center">
                <div class="card-body text-dark">
                    <p class="mt-4">{{ artwork.text | safe }}</p>
                </div>
                <div class="col-sm-6">
                    {% if current_user.is_authenticated %}
                    {% if liked %}
                    <button class="btn btn-primary btn-sm disabled">Liked</button>
                    {% else %}
                    <form action="{{ url_for('like_artwork', artwork_id=artwork['_id']) }}" method="post"
                        class="d-inline-block">
                        {{ form.csrf_token }}
                        <button class="btn btn-primary btn-sm mb-2" type="submit">Like</button>
                    </form>
                    {% endif %}
                    {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-sm mb-2">Log in to like</a>
                    {% endif %}
                </div>
            </div>
            <!-- Comment Section -->
            <div class="comment-section">
                <h4>Comments</h4>
                {% for comment in comments %}
                <div class="comment">
                    {% if comment.avatar %}
                    <img src="{{ comment.avatar }}" alt="User Avatar" class="comment-avatar">
                    {% endif %}
                    <div class="comment-content">
                        <p class="comment-author">{{ comment.author }}</p>
                        <p>{{ comment.text }}</p>
                        <p class="comment-date">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    </div>
                </div>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('art_detail', artwork_id=artwork['_id']) }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="{{ comment_form.text.id }}">Leave a comment:</label>
                        {{ comment_form.text(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
                {% else %}
                <p><a href="{{ url_for('login')}}">Login</a> to post a comment</p>
                {% endif %}
            </div>
            <!-- End Comment Section -->

        </div>
        <div class="col-lg-4">
            <div class="card p-3 mb-3">
                <h5 class="mb-3">Advertisement</h5>
                <p>Here's some space for an advertisement.</p>
            </div>
            <div class="card p-3">
                <h5 class="mb-3">Related Artwork</h5>
                <ul class="list-group">
                    {% for related in related_art %}
                    <li class="list-group-item">
                        <div class="artwork">
                            <img src="{{ url_for('static', filename=related.image[8:]) }}" alt="{{ related.title }}">
                            <a href="{{ url_for('art_detail', artwork_id=related['_id']) }}">
                                <h6>{{ related.title }}</h6>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{ url_for('static', filename=artwork.image[8:]) }}" alt="Full size image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript for liking the artwork -->
<!-- JavaScript for liking the artwork -->
<script>
    document.getElementById("like-button").addEventListener("click", function () {
        const artworkId = this.dataset.artworkId;
        fetch(`/art_detail/${artworkId}/like`, { method: "POST" })
            .then(function (response) {
                if (response.ok) {
                    // Update the like count and disable the like button
                    const likesCountElement = document.getElementById("likes-count");
                    const likesCount = parseInt(likesCountElement.innerText.split(":")[1].trim()) + 1;
                    likesCountElement.innerText = `Likes: ${likesCount}`;
                    document.getElementById("like-button").disabled = true;
                } else {
                    console.error("Failed to like the artwork");
                }
            });
    });
</script>
{% endblock %}