{% extends "base.html" %}

{% block content %}
<style>
    .story-image {
        max-height: 70vh;
        object-fit: cover;
        width: 100%;
        margin-bottom: 1rem;
    }

    .artwork {
        display: flex;
        align-items: center;
    }

    .artwork img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        margin-right: 1rem;
    }
</style>

<div class="container-fluid px-0">
    <img src="{{ artwork.image }}" alt="Story Image" class="story-image">
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card p-3">
                <h1 class="mb-4">{{ artwork.title }}</h1>
                <p class="lead">By The Technerdiac | {{ artwork.date_posted }}</p>
                <hr>
                <p class="mb-0">{{ artwork.text | safe }}</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-3">
                <h5 class="mb-3">Advertisement</h5>
                <p>Here's some space for an advertisement.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <h5 class="mb-3">Related Stories</h5>
            <ul class="list-group">
                {% for related in related_art %}
                <li class="list-group-item">
                    <div class="artwork">
                        <img src="{{ related.image }}" alt="{{ related.title }}">
                        <a href="{{ url_for('art_detail', artwork_id=related['_id']) }}">
                            <h6>{{ related.title }}</h6>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}