{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Backup and Recovery</h1>
    <form action="/admin/backup" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn btn-primary">Backup</button>
    </form>
    <br>
    <form action="/admin/recovery" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn btn-secondary">Recovery</button>
    </form>
    <br>
    <br>
    <hr>
    <p id="status"></p>
    <div id="file-list"></div>
</div>
{% endblock %}
