{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-group">
        <input type="text" id="search-input" class="form-control" placeholder="Search...">
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for chronicle in chronicles %}
        <div class="col">
            <div class="card position-relative">
                <a href="{{ url_for('detail', chronicle_id=chronicle['_id']) }}">
                    <img class="card-img-top" src="{{ chronicle.image }}" alt="">
                </a>
                <div class="card-title-container position-absolute bottom-0 start-0 end-0 px-2 py-1">
                    <h5 class="card-title text-uppercase mb-0">{{ chronicle.title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ chronicle.content[:200]|safe }}...</p>
                    <div class="mt-auto">
                        <i>Posted on {{ chronicle.date_posted }} by {{ chronicle.author }}</i>
                        <a href="{{ url_for('detail', chronicle_id=chronicle['_id']) }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card-title-container {
        background-color: rgba(255, 255, 255, 0.8);
        font-family: Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
</style>

<script>
    const searchInput = document.getElementById('search-input');
    const chronicles = document.querySelectorAll('.col');

    searchInput.addEventListener('input', () => {
        const searchTerm = searchInput.value.trim().toLowerCase();
        chronicles.forEach(chronicle => {
            const title = chronicle.querySelector('.card-title').textContent.trim().toLowerCase();
            const content = chronicle.querySelector('.card-text').textContent.trim().toLowerCase();
            if (title.includes(searchTerm) || content.includes(searchTerm)) {
                chronicle.style.display = '';
            } else {
                chronicle.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}