{% extends "base.html" %}

{% block content %}
<style>
    .news-row {
        margin-bottom: 1rem;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 1rem;
    }

    .news-row img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .news-row .news-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .news-row .news-source {
        font-size: 0.875rem;
        color: #555;
        margin-bottom: 0.5rem;
    }

    .news-row .news-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .news-row .news-readmore {
        margin-top: 0.5rem;
        font-size: 1rem;
        margin-bottom: 0;
    }
</style>
    <div class="container mt-3">
        {% for chronicle in chronicles %}
            <div class="row news-row">
                <div class="col-md-4">
                    <a href="{{ url_for('detail', chronicle_id=chronicle['_id']) }}">
                        <img class="home-story-img" src="{{ url_for('static', filename=chronicle.image[8:]) }}" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="news-title">{{ chronicle.title }}</div>
                    <div class="news-description">{{ chronicle.content[:200]|safe }}...</div>
                    <div class="mt-auto">
                        <i>Posted on {{ chronicle.date_posted }} by {{ chronicle.author }}</i>
                        <a href="{{ url_for('detail', chronicle_id=chronicle['_id']) }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}