{% extends "base.html" %}

{% block content %}
<style>
    .story-image {
        max-height: 60vh;
        object-fit: cover;
        width: 100%;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 10px solid white;
        cursor: pointer;
    }

    .artwork {
        display: flex;
        align-items: center;
    }

    .artwork img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        margin-right: 1rem;
    }

    /* Custom comment styling */
    .comment-section {
        margin-top: 2rem;
    }

    .comment {
        display: flex;
        margin-bottom: 1rem;
    }

    .comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }

    .comment-content {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 1rem;
        position: relative;
    }

    .comment-author {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .comment-date {
        font-size: 0.8rem;
        color: #6c757d;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h1 class="mb-2">{{ chronicle.title }}</h1>
                    <h3 class="mb-3 d-inline-block font-weight-bold"
                        style="padding: 10px 20px; background-color: orange; color: white; text-align: center; border-radius: 5px; transform: rotate(-5deg);">
                        {{ chronicle.category_name }}
                    </h3>
                    <p class="lead d-block mt-3" style="font-weight: bold; font-size: smaller;">
                        By {{ chronicle.author }} | {{ chronicle.date_posted }}
                    </p>
                    <div class="row">
                        <div class="col-md-6 text-md-right">
                            <div class="d-flex align-items-center">
                                <span class="badge badge-secondary" style="background-color: #6c757d">{{
                                    chronicle.page_views }} views</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <p class="badge badge-primary" style="background-color: #007bff"><span
                                        id="likes-count">{{ like_count }} likes</span></p>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="d-flex align-items-center">
                                <a href="https://twitter.com/intent/tweet?url={{ url_for('like_chronicle', chronicle_id=chronicle['_id'], _external=True) }}&text={{ chronicle.title }}"
                                    class="btn btn-info btn-sm mr-2" style="background-color: #1da1f2"
                                    target="_blank"><i class="fab fa-twitter"></i> Post to Twitter</a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('like_chronicle', chronicle_id=chronicle['_id'], _external=True) }}"
                                    class="btn btn-primary btn-sm mr-2" style="background-color: #4267b2"
                                    target="_blank"><i class="fab fa-facebook"></i> Post to Facebook</a>
                                {% if current_user.is_authenticated %}
                                <div id="like-button-container" class="d-flex align-items-center">
                                    {% if liked %}
                                    <p id="thank-you-message" class="text-muted mb-0 ml-2" style="font-size: small;">
                                        Thank you for liking this content.</p>
                                    {% else %}
                                    <form action="{{ url_for('like_chronicle', chronicle_id=chronicle['_id']) }}"
                                        method="post" class="d-inline-block">
                                        {{ form.csrf_token }}
                                        <button id="like-button" class="btn btn-outline-secondary btn-sm mr-2"
                                            type="submit" data-chronicle-id="{{ chronicle['_id'] }}"><i
                                                class="far fa-thumbs-up"></i> Like</button>
                                    </form>
                                    {% endif %}
                                    <span class="badge badge-primary badge-pill" style="background-color: #007bff;">{{
                                        like_count }}</span>
                                </div>
                                {% else %}
                                <a href="{{ url_for('login') }}" class="btn btn-primary btn-sm mr-2"><i
                                        class="fas fa-sign-in-alt"></i> Log in to like</a>
                                {% endif %}
                                <script>
                                    const csrfToken = '{{ form.csrf_token._value() }}';
                                </script>
                            </div>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename=chronicle.image[8:]) }}" alt="Story Image"
                        class="img-fluid mb-4"
                        style="max-height: 400px; object-fit: cover; width: 100%; border: 10px solid white;">
                    <div style="font-size: larger;">{{ chronicle.content | safe }}</div>
                </div>

            </div>
            <!-- Comment Section -->
            <div class="comment-section">
                <h4>Comments</h4>
                {% for comment in comments %}
                <div class="comment">
                    {% if comment.avatar %}
                    <img src="{{ comment.avatar }}" alt="User Avatar" class="comment-avatar">
                    {% endif %}
                    <div class="comment-content">
                        <p class="comment-author">{{ comment.author }}</p>
                        <p>{{ comment.text }}</p>
                        <p class="comment-date">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    </div>
                </div>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('detail', chronicle_id=chronicle['_id']) }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="{{ form.text.id }}">Leave a comment:</label>
                        {{ form.text(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
                {% else %}
                <p><a href="{{ url_for('login')}}">Login</a> to post a comment</p>
                {% endif %}
            </div>
            <!-- End Comment Section -->
        </div>
        <div class="col-lg-5">
            <div class="card p-3 mb-3">
                <h5 class="mb-3">Related News</h5>
                <ul class="list-group">
                    <!-- Add related news items here -->
                </ul>
            </div>
            <div class="card p-3 mb-3">
                <h5 class="mb-3">Related Stories</h5>
                <ul class="list-group">
                    {% for related_chron in related_chrons %}
                    <li class="list-group-item">
                        <div class="chronicle">
                            <a href="{{ url_for('detail', chronicle_id=related_chron['_id']) }}">
                                <h5>{{ related_chron.title }}</h5>
                            </a>
                            <p>{{ related_chron.content[:120] | safe }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card p-3">
                <h5 class="mb-3">Advertisement</h5>
                <p>Here's some space for an advertisement.</p>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const likeButton = document.getElementById("like-button");
        if (likeButton) {
            likeButton.addEventListener("click", function (event) {
                event.preventDefault();
                const chronicleId = this.dataset.chronicleId;

                fetch(`/detail/${chronicleId}/like`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": csrfToken
                    },
                    body: `_csrf_token=${encodeURIComponent(csrfToken)}`
                })
                    .then(function (response) {
                        if (response.ok) {
                            // Update the like count and hide the like button
                            const likesCountElement = document.getElementById("likes-count");
                            const likesCount = parseInt(likesCountElement.innerText) + 1;
                            likesCountElement.innerText = likesCount;
                            const likeButtonContainer = document.getElementById("like-button-container");
                            likeButtonContainer.innerHTML = "<p>Thank you for liking this content.</p>";

                        } else {
                            console.error("Failed to like the chronicle");
                        }
                    });
            });
        }
    });
</script>
{% endblock %}