{% extends "base.html" %}

{% block title %}Space Nerd{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/game_style.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/static/img/shooter_thumbnail.jpg" class="card-img-top" alt="Game Thumbnail" onclick="openGameWindow();">
                <div class="card-body">
                    <h5 class="card-title">Space Nerd</h5>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
            <!-- Add content for the second card -->
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
            <!-- Add content for the third card -->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  function openGameWindow() {
    window.open('/templates/game.html', 'gameWindow', 'width=800,height=600,menubar=no,toolbar=no');
  }
</script>
{% endblock %}
