{% extends "base.html" %}

{% block title %}Space Nerd{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/game_style.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/static/img/shooter_thumbnail.jpg" class="card-img-top" alt="Game Thumbnail"
                    data-toggle="modal" data-target="#gameModal">
                <div class="card-body">
                    <h5 class="card-title">Space Nerd</h5>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
            <!-- Add content for the second card -->
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
            <!-- Add content for the third card -->
        </div>
    </div>
</div>

<!-- Game Modal -->
<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gameModalLabel">Space Nerd</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="gameCanvas"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
<script src="/static/js/game.js"></script>
<script>
    $('#gameModal').on('shown.bs.modal', function () {
        if (!game) {
            initializeGame();
        }
    });
</script>
{% endblock %}