{% extends "base.html" %}

{% block content %}
<h1>Manage Images</h1>
<form action="{{ url_for('manage_images') }}" method="post">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for img in images %}
            <tr>
                <td><img src="{{ url_for('static', filename='media/upload/' + img) }}" alt="{{ img }}" width="100"></td>
                <td>
                    <input type="checkbox" name="delete_images" value="{{ img }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form.submit(class="btn btn-danger") }}
</form>
{% endblock %}