{% extends "base.html" %}

{% block content %}

<style>
    .story-image {
        max-height: 60vh;
        object-fit: cover;
        width: 100%;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 10px solid white;
        cursor: pointer;
    }

    /* Custom comment styling */
    .comment-section {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 1rem;
    }

    .comment {
        display: flex;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }

    .comment-author {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .comment-date {
        font-size: 0.8rem;
        color: #6c757d;
    }

    .reply-button {
        font-size: 0.8rem;
        color: #007bff;
        cursor: pointer;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h1 class="mb-2">{{ news.title }}</h1>
                    <p class="lead d-block mt-2">Source: {{ news.source }}</p>
                    <img src="{{ news.image_url }}" alt="News Image" class="img-fluid mb-4 story-image">
                    <p>{{ news.description | safe }}</p>
                    <div class="d-flex justify-content-center my-3">
                        <a href="{{ news.url }}" class="btn btn-outline-secondary" target="_blank">Read at {{
                            news.source }} &rarr;</a>
                    </div>
                </div>
            </div>
            <!-- Comment Section -->
            <div class="comment-section">
                <h4>Comments</h4>
                {% for comment in comments %}
                <div class="comment">
                    {% if comment.avatar %}
                    <img src="{{ comment.avatar }}" alt="User Avatar" class="comment-avatar">
                    {% endif %}
                    <div class="comment-content">
                        <p class="comment-author">{{ comment.author }}</p>
                        <p>{{ clean(comment.text, tags=['p', 'strong', 'em', 'ul', 'ol', 'li']) | safe }}</p>
                        <p class="comment-date">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    </div>
                </div>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('n_detail', news_id=news['_id']) }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="comment-textarea">Leave a comment:</label>
                        <textarea id="comment-textarea" name="{{ form.text.name }}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
                {% else %}
                <p><a href="{{ url_for('login')}}">Login</a> to post a comment</p>
                {% endif %}
            </div>
            <!-- End Comment Section -->
        </div>
        <div class="col-lg-5">
            <div class="card p-3 mb-3">
                <h5 class="mb-3">Related News</h5>
                <ul class="list-group">
                    {% for related_news in related_news_items %}
                    <li class="list-group-item">
                        <div class="news">
                            <a href="{{ url_for('n_detail', news_id=related_news['_id']) }}">
                                <h5>{{ related_news.title }}</h5>
                            </a>
                            <p>{{ related_news.description[:120] }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card p-3 mb-3">
                <h5 class="mb-3">Advertisement</h5>
                <p>Here's some space for an advertisement.</p>
            </div>
        </div>
    </div>
</div>
<script>
    tinymce.init({
        selector: '#comment-textarea',
        plugins: 'autoresize',
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright',
        menubar: false,
        autoresize_min_height: 100,
        autoresize_max_height: 300,
        paste_as_text: true,
        forced_root_block: '',
        valid_elements: 'p[style],strong,em,ul,ol,li'
    });
</script>
{% endblock %}