{% extends "base.html" %}

{% block content %}
<style>
    .news-row {
        margin-bottom: 1rem;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 1rem;
    }

    .news-row img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .news-row .news-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .news-row .news-source {
        font-size: 0.875rem;
        color: #555;
        margin-bottom: 0.5rem;
    }

    .news-row .news-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .news-row .news-readmore {
        margin-top: 0.5rem;
        font-size: 1rem;
        margin-bottom: 0;
    }
</style>
    <div class="container mt-3">
        {% for article in news %}
            <div class="row news-row">
                <div class="col-md-4">
                    <img src="{{ article.image_url }}" alt="{{ article.title }}" class="home-story-img">
                </div>
                <div class="col-md-8">
                    <div class="news-title">{{ article.title }}</div>
                    <div class="news-source">{{ article.source }}</div>
                    <div class="news-description">{{ article.description | safe }}</div>
                    <div class="d-flex justify-content-center my-3">
                        <a href="{{ url_for('n_detail', news_id=article['_id']) }}" class="btn btn-outline-secondary">Read More &rarr;</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
