{% extends "base.html" %} {% block extra_css %}
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
{% endblock extra_css %} {% block content %}
<style>
  .news-row {
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1rem;
  }

  .news-row img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .news-row .news-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .news-row .news-source {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  .news-row .news-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .news-row .news-readmore {
    margin-top: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .news-row .read-more-link {
    text-decoration: none;
    background-color: #32504f;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  .news-row .read-more-link:hover {
    background-color: #0056b3;
    color: #fff;
  }

  .news-row .external-link {
    color: #007bff;
    text-decoration: none;
    margin-left: 0.5rem;
  }

  .news-row .external-link:hover {
    text-decoration: underline;
  }
</style>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8">
      {% for article in news %}
      <div class="row news-row">
        <div class="col-md-4">
          <a href="{{ url_for('n_detail', news_id=article['_id']) }}">
            <img class="home-story-img" src="{{ article.image_url }}" alt="" />
          </a>
        </div>
        <div class="col-md-8">
          <div class="news-title">{{ article.title }}</div>
          <div class="news-description">
            {{ article.description | safe }}...
          </div>
          <div class="news-source mt-auto">
            <i>Posted by {{ article.source }}</i>
          </div>
          <div class="d-inline-block">
            <a
              href="{{ url_for('n_detail', news_id=article['_id']) }}"
              class="read-more-link"
              >Read More</a
            >
            <a href="{{ article.url }}" target="_blank" class="external-link"
              ><span><i class="fa fa-link"></i></span
            ></a>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Pagination -->
      <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination">
          {% if current_page > 1 %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('news', page=current_page-1, per_page=per_page or 10) }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">«</span>
            </a>
          </li>
          {% endif %} {% for page_num in range(1, total_pages + 1) %}
          <li
            class="page-item {% if page_num == current_page %}active{% endif %}"
          >
            <a
              class="page-link"
              href="{{ url_for('news', page=page_num, per_page=per_page or 10) }}"
              >{{ page_num }}</a
            >
          </li>
          {% endfor %} {% if current_page < total_pages %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('news', page=current_page+1, per_page=per_page or 10) }}"
              aria-label="Next"
            >
              <span aria-hidden="true">»</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="col-lg-4">
      <div class="ad-space">
        <!-- Place your advertising content here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
