{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Edit Profile</h1>
    <div class="card">
        <div class="card-header">
            <img src="{{ current_user.picture }}" alt="{{ current_user.name }}'s avatar" class="img-thumbnail rounded-circle"
                style="width: 150px; height: 150px;">
        </div>
        <div class="card-body">
            <form method="post">
                {{ csrf_field() }}
                <div class="form-group">
                    {{ form.nickname.label(class="form-label") }}
                    {{ form.nickname(class="form-control") }}
                </div>
                {% if current_user.isAdmin %}
                <div class="form-check mb-3">
                    {{ form.isActive(class="form-check-input") }}
                    {{ form.isActive.label(class="form-check-label") }}
                </div>
                <div class="form-check mb-3">
                    {{ form.isSpecial(class="form-check-input") }}
                    {{ form.isSpecial.label(class="form-check-label") }}
                </div>
                {% endif %}
                <div class="form-check mb-3">
                    {{ form.newsletter(class="form-check-input") }}
                    {{ form.newsletter.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
